<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
      <header>
        <h1>{{ title }}</h1>
      </header>
      <section>
        <article>
          {{ content }}
        </article>
      </section>
      <footer>
      </footer>
      <script>
        $( document ).ready(function() {
            console.log( "ready!" );
            //$( "h2" ).next("ul").andSelf().wrap( "<div class='no-break'></div>" );
          
            $("h2").each(function(index) {
		          $(this).next("ul").andSelf().wrapAll("<div class='no-break' />")
            });
          
        });
      </script>
   </body>
</html>
